<div class="col-md-3 col-sm-4 col-xs-12 sideBar">
  <div class="panel panel-default">
    <div class="panel-heading">商品カテゴリー</div>
    <div class="panel-body">
      <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
        <ul class="nav navbar-nav side-nav">
          <%= render partial: "taxonomy", collection: taxonomies %>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default filterNormal">
    <div class="panel-heading">色から探す</div>
    <div class="panel-body">
      <ul class="list-unstyled">
        <li><%= link_to "ブラック (15)", "#" %></li>
        <li><%= link_to "ホワイト (10)", "#" %></li>
        <li><%= link_to "レッド (7)", "#" %></li>
        <li><%= link_to "ブルー (12)", "#" %></li>
        <li><%= link_to "オレンジ (12)", "#" %></li>
      </ul>
    </div>
  </div>
  <div class="panel panel-default filterNormal">
    <div class="panel-heading">サイズから探す</div>
    <div class="panel-body">
      <ul class="list-unstyled clearfix">
        <li><%= link_to "S (15)", "#" %></li>
        <li><%= link_to "M (10)", "#" %></li>
        <li><%= link_to "L (7)", "#" %></li>
        <li><%= link_to "XL (12)", "#" %></li>
      </ul>
    </div>
  </div>
</div>
